@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1,
p {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 700;
}

#nombre,
#frase {
    color: #2b2b2b;
}

.texto-principal {
    font-size: 2rem;
}

.encabezado {
    margin-bottom: 3rem;
}
.fondos{
    background-color: rgb(123, 123, 248);
}
.fondo {
    background-image: url(https://venngage-wordpress.s3.amazonaws.com/uploads/2018/11/15-Presentation-Background-Examples13.jpeg);
    background-position: right bottom;
    width: 600px;
    height: 100px;
    border-style: solid; border-color: gray; border-width: 5px;
    padding: 30px; margin: 10px 20px 30px 400px;
}
.ordenada {
    font-size: 2rem;
}
#primerelemento {
    color: red;
}
